.zawCollapse {
}
.zawCollapse :global .zawCollapse_header {
  padding: 1rem;
  cursor: pointer;
  background-color: #4b5563;
  color: white;
  border-bottom: 1px solid black;
}

.zawCollapse :global .zawCollapse_header--disabled {
  opacity: 80%;
  pointer-events: none;
}

.zawCollapse
  :global
  .zawCollapse_header
  .zawCollapse_header_btn
  .zawCollapse_header_btn_icon {
  float: right;
}
.zawCollapse :global .zawCollapse_content {
  overflow: hidden;
  display: none;
  background-color: white;
  color: black;
  margin-left: 1rem;
}
