.zawCollapse {
  padding: 1rem;
}
.zawCollapse_header {
  border: 1px solid #000;
  padding: 1em;
  cursor: pointer;
}
.zawCollapse_header_expandBtn {
  float: right;
  border: none;
  background-color: inherit;
}
.zawCollapse_content {
  padding: 1rem;
  overflow: hidden;
  display: none;
  background-color: #4b5563;
  color: white;
}
