.zawCollapse {
}
.zawCollapse_header {
  padding: 1rem;
  cursor: pointer;
  background-color: #4b5563;
  color: white;
  border-bottom: 1px solid black;
}
.zawCollapse_header_expandBtn {
  float: right;
  border: none;
  background-color: inherit;
}
.zawCollapse_content {
  overflow: hidden;
  display: none;
  background-color: white;
  color: black;
  margin-left: 1rem;
}
