.zawCollapse{
    background-color: white;
    :global{
        .expandBtn{
            float: right;
        }
        .content{
            transition: all .5s ease-in-out;
            overflow: hidden;
        }
    }
}