.zawCollapse {
  background-color: white;
  padding: 1rem; }
  .zawCollapse .header {
    cursor: pointer; }
    .zawCollapse .header .expandBtn {
      float: right;
      border: none;
      background-color: inherit; }
  .zawCollapse .content {
    transition:.3s ease-in-out;
    overflow: hidden; }
